input[type="submit"] {
    border: 1px solid #0A3D5B;
    background-color: transparent;
    color: #0A3D5B;
    padding: 20px 60px;
    font-size: 15px;
    font-weight: 500;
    background: #f5fffa;
    cursor: pointer;
    display: inline-block;
    margin-right: 15px;
    margin-bottom: 30px;
    border-radius: 3px;
    text-transform: capitalize;
}

input:focus {
    outline: none;
}

/* slide hover left -1 css */

input.slide-hover-left-1 {
    background-image: linear-gradient(0, #0A3D5B, #0A3D5B);
    background-size: 0;
    transition: .8s;
    background-repeat: no-repeat;
}

input.slide-hover-left-1:hover {
    background-size: 100%;
    color: #fff;
}
body {
   background: url(style2.jpg);
}
h1 {
    color: lightblue;
}
#ip1 {
    border-radius: 25px;
    border: 2px solid #609;
    padding: 20px; 
    width: 200px;
    height: 1px;    
}
$slider-name: typing-slider;
$slides: 3;
$typing-duration: 5s;
$tab-letters: 16 23 12; //number of characters in each paragraph
$slider-font-size: 3rem;
$background: transparent;

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: $background;
}

@keyframes cursor {
  from, to { border-color: transparent; }
  50% { border-color: black; }
}

@keyframes typing {
  from { width: 100%; }
  90%, to { width: 0; }
}

@keyframes slide {
  #{100% / $slides} { font-size: $slider-font-size; letter-spacing: 3px; }
  to { font-size: 0; letter-spacing: 0; }
}

.#{$slider-name} {
  font-family: Consolas, monospace;
  font-weight: bold;
  text-align: center;
  white-space: nowrap;
}

.#{$slider-name} p {
  position: relative;
  display: inline;
  font-size: 0;
  text-transform: uppercase;
  letter-spacing: 0;
  animation: slide $typing-duration * $slides step-start infinite;
}

.#{$slider-name} p::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  border-left: 3px solid black;
  background-color: $background;
  animation: typing $typing-duration infinite,
             cursor 1s infinite;
}

@each $letters in $tab-letters {
  $i: index($tab-letters, $letters);
  .#{$slider-name} p:nth-child(#{$i}) {
    animation-delay:  $typing-duration * ($i - 1);
    &::after {
      animation-delay: $typing-duration * ($i - 1);
      animation-timing-function: steps(#{$letters}), step-end;
    }
  }
}
