input[type="submit"] {
    border: 1px solid #0A3D5B;
    background-color: transparent;
    color: #0A3D5B;
    padding: 20px 60px;
    font-size: 15px;
    font-weight: 500;
    background: #f5fffa;
    cursor: pointer;
    display: inline-block;
    margin-right: 15px;
    margin-bottom: 30px;
    border-radius: 3px;
    text-transform: capitalize;
}

input:focus {
    outline: none;
}

/* slide hover left -1 css */

input.slide-hover-left-1 {
    background-image: linear-gradient(0, #0A3D5B, #0A3D5B);
    background-size: 0;
    transition: .8s;
    background-repeat: no-repeat;
}

input.slide-hover-left-1:hover {
    background-size: 100%;
    color: #fff;
}
body {
   background: url(style2.jpg);
}
h1 {
    color: lightblue;
}
#ip1 {
    border-radius: 25px;
    border: 2px solid #609;
    padding: 20px; 
    width: 200px;
    height: 1px;    
}
