body {
   background: url(csstyle1.jpg);
}
h1 {
    color: lightblue;
}
#ip1 {
    border-radius: 25px;
    border: 2px solid #609;
    padding: 20px; 
    width: 200px;
    height: 1px;    
}
.button-container {
	background-image: linear-gradient(to right, #0c0c86, #02046b);  /* direction, start color, end color */
	padding: 1.5em;
}

.button-fancy {
	background-color: #23b83c;
	border: 2px solid #020353;
	color: whitesmoke;
	padding: 1em 1.5em;
	text-align: center;
	text-decoration: none;
	font-size: 1em;
	display: inline-block;
	width: 22%;
	border-radius: 5px;
	box-shadow: 3px 3px 8px 0 #000; /* h-offset v-offset blur spread color */
}
