<!DOCTYPE html>
<html >
<!--From https://codepen.io/frytyler/pen/EGdtg-->
<head>
  <meta charset="UTF-8">
  <title>ML API</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  
</head>

<body>
 <div class="login">
	<h1>Bangalore Air Quality Index Prediction</h1>

     <!-- Main Input For Receiving Query to our ML -->
    <form action="{{ url_for('predict')}}"method="post">
      <input type="text" name="T" placeholder="Average Temperature" required="required" id="ip1"/><br>
    	<input type="text" name="TM" placeholder="Maximum Temperature" required="required" id="ip1"/><br>
        <input type="text" name="Tm" placeholder="Minimum Temperature" required="required" id="ip1"/><br>
        <input type="text" name="SLP" placeholder="Atmospheric pressure at sea level" required="required" id="ip1"/><br>
        <input type="text" name="H" placeholder="Average relative humidity" required="required" id="ip1"/><br>
        <input type="text" name="VV" placeholder="Average visibility" required="required" id="ip1"/><br>
	<input type="text" name="V" placeholder="Average Wind Speed" required="required" id="ip1"/><br>
        <input type="text" name="VM" placeholder="Maximum sustained wind speed" required="required" id="ip1"/><br>
	    
	
	<div class="container">
		<div>
    		<button type="submit" class="slide-hover-left-1">Predict</button>
    		</div>
      
	</div>
 
    </form>

   <br>
   <br>
  
   
 </div>
 {{prediction_text}}

</body>
</html>
